/* Structure */
body {
    background-color: azure;
}
#main-nav {
    background-color: bisque;
}
#main-footer {
    background-color: honeydew;
    text-align: center;
}
.padded-area {
    margin: auto;
}
#paragraph,
#sidebar {
    background-color: #add8e6;
}
/* Main content */
#main-content table {
    border-collapse: separate;
    border-spacing: 5px 0;
}
#main-content td {
    border: none;
    padding: 5px;
}
#main-content-table {
    background-color: cadetblue;
}
/* Columns */
#columns {
    width: 100%;
}
.bordered {
    background-color: aquamarine;
    border: 2px solid black;
}
.columnContent {
    background-color: #F2D2BD;
}
/* Images */
#images {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
#images img {
    margin-right: 50px;
}
/* Main Navigation */
#main-nav ul {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    position: relative;
    left: 30%;
}
#main-nav li {
    display: inline-block;
    list-style-type: none;
}
#main-nav a {
    text-decoration: none;
    color:black;
}
#main-nav a:hover {
    border-bottom: 1px solid magenta;
    opacity: 50%;
}
/* Flex container */
.flex-container {
    display: flex;
}
.flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px; 
}
/* Typography */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
h1 {
    text-align: center;
}
/* Larger Resolutions */
@media only screen and (max-width: 800px) {
    /* Tempary thing to make testing easier */
    body{
        background-color: black;
    }
    #main-nav li {
        display: flex;
        flex-direction: column;
        margin: 10%;
    }
    #main-content {
        display: inline-block;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
    }
    .collof2 {
        flex: 1;
    }
}