/*
Color schema: 
*/
/* Structure */
h1, h2 {
    color:#304269;
}
p, li {
    color: #454545;
}
/* Tables */
td, th {
    border:3px solid red;
    border-collapse: collapse;
}

/* Typography, also known as fonts */
body {
    background-color: #D9E8F5;
    font-family: Arial, Helvetica, sans-serif;
    /* Bigger text because I prefer it */
    font-size: larger;
}
#content {
    text-align: justify;
    background-color: #c3d1dd;
    width: 60%;
    margin: auto;
    padding: 1px 5px;
    border-radius: 10px;
}
/* Links */
/* Unvisited */
a:link {
    color: #FFFFFF;
    text-decoration: none;
}
/* Visited  */
a:visited {
    color: #F26101;
    text-decoration: none;
}
/* Mouse over */
a:hover {
    color: #cccccc;
    text-decoration: none;
}
/* Selected link */
a:active {
    text-decoration: none;
}
