/* Structure */
h1, h2 {
    color:#304269;
}
h1 {
    text-align: center;
}
p, li {
    color: #454545;
}
/* Navigation */
#navigation {
    text-align: center;
}
/* Pictures */

#picture_1 {
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%; 
    display: block;
}

#picture_2 {
    border: 1px solid black;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* Tables */
#table table {
    border-collapse: collapse;
}
#table td, th{
    border:2px solid; 
    border-color: #F26101;
}


/* Typography, also known as fonts */
body {
    background-color: #D9E8F5;
    font-family: Arial, Helvetica, sans-serif;
    /* Bigger text because I prefer it */
    font-size: larger;
}
#content {
    text-align: justify;
    background-color: #c3d1dd;
    width: 60%;
    margin: auto;
    padding: 1px 5px;
    border-radius: 10px;
}
/* Links */
/* Unvisited */
a:link {
    color: #FFFFFF;
    text-decoration: none;
}
/* Visited  */
a:visited {
    color: #F26101;
    text-decoration: none;
}
/* Mouse over */
a:hover {
    color: #cccccc;
    text-decoration: none;
}
/* Selected link */
a:active {
    text-decoration: none;
}
